@{
    ViewData["Title"] = "Galeria de albums, fotos y comentarios";
}

<h2>Galeria de albums, fotos y comentarios</h2>

<div class="row">
    <div class="col-md-4">
        <p>Por favor seleccione el album.</p>
        <p>
            @Html.DropDownList("albumid", new SelectList(ViewBag.Albums, "Id", "Name"), new { @class = "form-control" })
        </p>
        <button id="showAlbum" class="btn btn-info">
            Visualizar Álbum
        </button>
    </div>
</div>
<h4>Fotos</h4>
<table id="photos-table" class="table">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Titulo
            </th>
            <th>
                Foto
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
            </td>
        </tr>

    </tbody>
</table>
<h4>Comentarios</h4>
<div class="row">
    <div id="list-comments" class="list-comments">

    </div>
</div>


@section Scripts {
    <script>
        $("#showAlbum").click(function () {
            var id = $("#albumid").val();
            $.ajax({
            url: '/Photo/photosByAlbum?Id='+id,
            type: 'Get',
            success: function (data) {
                if (data.photosResult !== "") {
                    $(data.photosResult).each(function (index) {
                        $('#photos-table tr:last').after('<tr><td>'+ this.id +'</td> <td>'+ this.title +'</td> <td>'+ this.path +'<br/><button class="btn btn-success show-coment" id="photo-'+ this.id +'" >Ver Comentarios</button> </td></tr>');
                    });
                }
            }
            }).fail(function (data) {

            });
        });

        $(document).on("click", ".show-coment", function () {
            $('#list-comments').empty();
            var id = $(this).attr('id').split("-")[1];
            $.ajax({
            url: '/Comment/commentsByPhotos?Id='+id,
            type: 'Get',
            success: function (data) {

                if (data.commentsResult !== "") {
                    $(data.commentsResult).each(function (index) {                        
                        $('#list-comments').append('<div class"row">N° ' + this.id + ' comentario: ' + this.comment + '</div>');
                    });
                }
            }
            }).fail(function (data) {

            });
        });
    </script>
}

